.custom-active {
    background-color: #edc974 !important;
    /* background-color: #98CBCC !important; */
    border: none;
}

/* Hide scrollbar visually while keeping scrollability */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}

.cardHover {
  transition: filter 0.2s ease;
  &:hover {
    filter: brightness(90%);
    cursor: pointer;
  }
}

.tagHover {
  transition: filter 0.2s ease;
  &:hover {
    filter: brightness(90%);
    cursor: pointer;
  }
}
