* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; Debug helper */

}

body {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    overflow-x: hidden;
    /* Prevents horizontal scroll if any element exceeds viewport */
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

/* 
.container, .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

.text-large {
    font-size: 3em;
}

.landingImage {
    width: 100%;
    height: auto;
}

.loginHover:hover {
  background-color: #D11E61; 
  color: white !important;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
